<nav class="d-flex navbar navbar-expand-lg bg-dark fixed-top p-1 opacity-100">
  <div class="container-fluid">
    <a class="text-white navbar-brand ms-3 me-3" href="/">Eorzea</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mb-2 me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link link-light" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/presets">Community</a>
        </li>
      </ul>
      <form
        action="/search"
        class="d-flex flex-row align-items-center mb-0 me-3"
        role="search"
      >
        <input
          class="text-dark form-control me-2 align-items-center"
          type="search"
          placeholder="Search for anything..."
          aria-label="Search"
          name="search"
        />
        <button
          class="btn btn-outline-light align-items-center me-0 mb-0"
          type="submit"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            ></path>
          </svg></button>
      </form>
      {{#if user}}
        <form action="/private" class="align-items-center mb-0">
          <button
            type="button"
            class="btn btn-outline-light me-3"
          >{{user.fullName}}'s Profile</button>
        </form>
        <form
          class="align-items-center mb-0"
          action="/authentication/sign-out"
          method="POST"
        >
          <button class="btn btn-dark me-3 mb-0">Sign Out</button>
        </form>
      {{else}}
        <a class="btn btn-dark" href="/authentication/sign-in">Log In</a>
        <a
          class="btn btn-outline-light btn-dark me-3"
          href="/authentication/sign-up"
        >Sign Up</a>
      {{/if}}
    </div>
  </div>
</nav>