<nav class="d-flex navbar navbar-expand-lg bg-light fixed-top p-1 opacity-75">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarText">
      <a class="navbar-brand ms-3 me-3" href="/">Eorzea</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav mb-2 me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/presets">Community</a>
        </li>
      </ul>
      <form
        action="/search"
        class="d-flex flex-row align-items-center mb-0 me-3"
        role="search"
      >
        <input
          class="form-control me-2 align-items-center"
          type="input-search"
          placeholder="Search for anything..."
          aria-label="Search"
          name="search"
        />
        <button
          class="btn btn-success align-items-center"
          type="submit"
        >Search</button>
      </form>
      {{#if user}}
        <form action="/private" class="align-items-center mb-0">
          <button
            type="button"
            class="btn btn-outline-secondary me-3"
          >{{user.fullName}}'s Profile</button>
        </form>
        <form
          class="align-items-center mb-0"
          action="/authentication/sign-out"
          method="POST"
        >
          <button class="btn btn-primary me-3 mb-0">Sign Out</button>
        </form>
      {{else}}
        <a class="btn btn-outline-dark" href="/authentication/sign-in">Log In</a>
        <a class="btn btn-dark me-3" href="/authentication/sign-up">Sign Up</a>
      {{/if}}

    </div>
  </div>
</nav>