<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container-fluid">
  <a class="navbar-brand">Navbar</a>
  <form class="d-flex" role="search" action="/search">
    <input
      class="form-control me-2"
      type="input-search"
      placeholder="Search"
      aria-label="Search"
      name="search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>