<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center h-75"
>
  <h1 class="text-center">{{title}}</h1>
  <form class="d-flex w-50 align-items-center" role="search" action="/search">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>