<h1 class="text-center">{{title}}</h1>

<div class="container-fluid d-flex justify-content-center align-items-center">
  <form
    class="d-flex w-50 mt-5 align-items-center"
    role="search"
    action="/search"
  >
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>