<ul>
  {{#each results}}
    <a href="/item/{{ID}}">
      <li>{{externalId}}</li>
    </a>
    <img
      style="height:50px; width:50px;"
      src="https://xivapi.com/{{Icon}}"
      alt=""
    />

  {{/each}}
</ul>