<div
  class="p-5 input-log-in d-flex justify-content-center align-items-center h-75"
>
  <h1 class="me-5 text-light">Log in now to access your account!</h1>
  <div
    class="shadow-sm ms-5 d-flex flex-col p-5 me-4 border border-light border-3 bg-light rounded"
  >
    <form class="mb-0" action="/authentication/sign-in" method="POST">
      <label
        class="form-label align-items-center me-3"
        for="input-email"
      >Email:</label>
      <input
        class="shadow-sm form-control mb-2"
        type="email"
        id="input-email"
        name="email"
        placeholder="Your Email"
      />
      <label
        class="form-label align-items-center me-3"
        for="input-password"
      >Password:</label>
      <input
        class="shadow-sm form-control"
        type="password"
        name="password"
        id="input-password"
        placeholder="A Strong Password"
      />
      <button class="shadow-sm btn btn-primary mt-3">Sign In</button>
    </form>
  </div>
</div>