<div class="d-flex justify-content-center align-items-center w-100 h-75">
  <div class="p-4 col-6 col-sm-4 col-xl-6">
    <ul class="fs-2 list-unstyled">
      <li class="p-3">- Find other Final Fantasy XIV players</li>
      <li class="p-3">- Favourite your sought after items</li>
    </ul>
  </div>
  <div class="p-4 me-4 col-6 col-sm-8 col-xl-4">
    <form action="/authentication/sign-up" method="POST">
      <div class="mb-3">
        <div class="mb-3">
          <label for="input-name">Full Name
          </label>
          <input
            type="text"
            class="form-control"
            id="input-name"
            aria-describedby="fullName"
            name="fullName"
          />
        </div>
        <div class="mb-3">
          <label for="input-email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="input-email"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="input-password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="input-password"
          aria-describedby="passwordForm"
          name="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>