@import 'bootstrap';

$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsl(0, 0, 90%);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  background: linear-gradient(
    135deg,
    rgb(76, 0, 99) 0%,
    rgb(141, 51, 166) 100%
  );
  padding: 0 1em;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
  font-family: $font-sans;
  line-height: 2;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

.input-log-in {
  font-weight: bold;
  color: black;
}

.input-sign-up {
  color: black;
}

li {
  cursor: pointer;
}

.item-card {
  transition: transform 0.2s; /* Animation */
}

.item-card:hover {
  transform: scale(1.02);
}

.character-details {
  background-color: rgb(73, 54, 76);
}

.profile-img {
  width: 36px;
}

.comment-avatar {
  width: 8%;
}
